<div>
    <h2>
        <span>Schedules</span>
        <button class="btn btn-primary float-right jh-create-entity create-schedule" [routerLink]="['/', { outlets: { popup: ['schedule-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Schedule
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="schedules">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Start Time</span></th>
            <th><span>End Time</span></th>
            <th><span>Track</span></th>
            <th><span>Lecture</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let schedule of schedules ;trackBy: trackId">
                <td><a [routerLink]="['../schedule', schedule.id ]">{{schedule.id}}</a></td>
                <td>{{schedule.startTime | date:'medium'}}</td>
                <td>{{schedule.endTime | date:'medium'}}</td>
                <td>{{schedule.track}}</td>
                <td>
                    <div *ngIf="schedule.lecture">
                        <a [routerLink]="['../lecture', schedule.lecture?.id ]" >{{schedule.lecture?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../schedule', schedule.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'schedule/'+ schedule.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'schedule/'+ schedule.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
