<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myScheduleLabel">Create or edit a Schedule</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!schedule.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="schedule.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_startTime">Start Time</label>
            <div class="d-flex">
                <input id="field_startTime" type="datetime-local" class="form-control" name="startTime" [(ngModel)]="schedule.startTime"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_endTime">End Time</label>
            <div class="d-flex">
                <input id="field_endTime" type="datetime-local" class="form-control" name="endTime" [(ngModel)]="schedule.endTime"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_track">Track</label>
            <select class="form-control" name="track" [(ngModel)]="schedule.track" id="field_track" >
                <option value="HALL_A">HALL_A</option>
                <option value="HALL_B">HALL_B</option>
                <option value="HALL_C">HALL_C</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_lecture">Lecture</label>
            <select class="form-control" id="field_lecture" name="lecture" [(ngModel)]="schedule.lecture">
                <option [ngValue]="null"></option>
                <option [ngValue]="lectureOption.id === schedule.lecture?.id ? schedule.lecture : lectureOption" *ngFor="let lectureOption of lectures; trackBy: trackLectureById">{{lectureOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
