
<div *ngIf="schedule">
    <h2><span>Schedule</span> {{schedule.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Start Time</span></dt>
        <dd>
            <span>{{schedule.startTime | date:'medium'}}</span>
        </dd>
        <dt><span>End Time</span></dt>
        <dd>
            <span>{{schedule.endTime | date:'medium'}}</span>
        </dd>
        <dt><span>Track</span></dt>
        <dd>
            <span>{{schedule.track}}</span>
        </dd>
        <dt><span>Lecture</span></dt>
        <dd>
            <div *ngIf="schedule.lecture">
                <a [routerLink]="['/lecture', schedule.lecture?.id]">{{schedule.lecture?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'schedule/'+ schedule.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
