<div>
    <h2>
        <span>Speakers</span>
        <button class="btn btn-primary float-right jh-create-entity create-speaker" [routerLink]="['/', { outlets: { popup: ['speaker-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Speaker
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="speakers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Biography</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let speaker of speakers ;trackBy: trackId">
                <td><a [routerLink]="['../speaker', speaker.id ]">{{speaker.id}}</a></td>
                <td>{{speaker.name}}</td>
                <td>{{speaker.biography}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../speaker', speaker.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'speaker/'+ speaker.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'speaker/'+ speaker.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
