<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySpeakerLabel">Create or edit a Speaker</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!speaker.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="speaker.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="speaker.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_biography">Biography</label>
            <input type="text" class="form-control" name="biography" id="field_biography"
                [(ngModel)]="speaker.biography" maxlength="512" />
            <div [hidden]="!(editForm.controls.biography?.dirty && editForm.controls.biography?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.biography?.errors?.maxlength">
                   This field cannot be longer than 512 characters.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
