<div>
    <h2>
        <span>Lectures</span>
        <button class="btn btn-primary float-right jh-create-entity create-lecture" [routerLink]="['/', { outlets: { popup: ['lecture-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Lecture
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="lectures">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Description</span></th>
            <th><span>Lecture Type</span></th>
            <th><span>Lecture Level</span></th>
            <th><span>Category</span></th>
            <th><span>Speaker</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lecture of lectures ;trackBy: trackId">
                <td><a [routerLink]="['../lecture', lecture.id ]">{{lecture.id}}</a></td>
                <td>{{lecture.name}}</td>
                <td>{{lecture.description}}</td>
                <td>{{lecture.lectureType}}</td>
                <td>{{lecture.lectureLevel}}</td>
                <td>
                    <div *ngIf="lecture.category">
                        <a [routerLink]="['../category', lecture.category?.id ]" >{{lecture.category?.id}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let speaker of lecture.speakers; let last = last">
                            <a class="form-control-static" [routerLink]="['../speaker', speaker?.id ]">{{speaker.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../lecture', lecture.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'lecture/'+ lecture.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'lecture/'+ lecture.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
