
<div *ngIf="lecture">
    <h2><span>Lecture</span> {{lecture.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{lecture.name}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{lecture.description}}</span>
        </dd>
        <dt><span>Lecture Type</span></dt>
        <dd>
            <span>{{lecture.lectureType}}</span>
        </dd>
        <dt><span>Lecture Level</span></dt>
        <dd>
            <span>{{lecture.lectureLevel}}</span>
        </dd>
        <dt><span>Category</span></dt>
        <dd>
            <div *ngIf="lecture.category">
                <a [routerLink]="['/category', lecture.category?.id]">{{lecture.category?.id}}</a>
            </div>
        </dd>
        <dt><span>Speaker</span></dt>
        <dd>
            <span *ngFor="let speaker of lecture.speakers; let last = last">
                <a [routerLink]="['/speaker', speaker?.id ]">{{speaker.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'lecture/'+ lecture.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
