<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLectureLabel">Create or edit a Lecture</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!lecture.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="lecture.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="lecture.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="lecture.description" maxlength="1024" />
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.maxlength">
                   This field cannot be longer than 1024 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lectureType">Lecture Type</label>
            <select class="form-control" name="lectureType" [(ngModel)]="lecture.lectureType" id="field_lectureType" >
                <option value="PRESENTATION">PRESENTATION</option>
                <option value="PRESENTATION_WITH_DEMO">PRESENTATION_WITH_DEMO</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lectureLevel">Lecture Level</label>
            <select class="form-control" name="lectureLevel" [(ngModel)]="lecture.lectureLevel" id="field_lectureLevel" >
                <option value="GENERAL">GENERAL</option>
                <option value="VERY_DETAILED">VERY_DETAILED</option>
                <option value="SOMETHING_IN_BETWEEN">SOMETHING_IN_BETWEEN</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_category">Category</label>
            <select class="form-control" id="field_category" name="category" [(ngModel)]="lecture.category" >
                <option [ngValue]="null"></option>
                <option [ngValue]="categoryOption.id === lecture.category?.id ? lecture.category : categoryOption" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_speaker">Speaker</label>
            <select class="form-control" id="field_speaker" multiple name="speaker" [(ngModel)]="lecture.speakers">
                <option [ngValue]="getSelected(lecture.speakers, speakerOption)" *ngFor="let speakerOption of speakers; trackBy: trackSpeakerById">{{speakerOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
